# I. Introduction

In this notebook DNA Methylation data is obtained manually from GDC by searching for the selected patient using their id (submitter_id). After obtaining the data for each patient, the data is then cleaned and downloaded to further explore in notebook 4.

# DNA Methylation Data Gathering Steps

This is mostly for records keeping. I am adding it in case you wanted to see how exactly I obtained the DNA Methylation data for every patient.

Steps followed to obtain DNA Methylation Data:

1. Go to gdc.cancer.gov (Its where all TCGA data is stored.)
2. Click on Lauch Data Portal.
3. Click Accept if asked.
4. Click on the green Projects button.
5. Under 'Primary Site' select 'Bronchus and Lung' and under 'Program' select 'TCGA'.
6. Click on the project name TCGA-LUAD.
7. Click on Explore Project Data button.
8. In the search bar on the left, enter the submitter_id of the patient. Do not hit enter.
9. From the dropdown results, select the patient.
10. Click on the case id.
11. Scroll to 'File Counts by Data Category', Find 'DNA Methylation' and click on the file count (usually a 1).
12. Click on the file name (.txt)
13. Click on Download.
14. Unzip, extract and save to intended folder.

# Group 1: Smoking Group

In [2]:
import pandas as pd #Necessary package/s.

In [3]:
group1 = pd.read_csv("group1.csv") #import data

In [4]:
group1

,Unnamed: 0,submitter_id,cigarettes_per_day,alcohol_intensity,years_smoked,alcohol_history,pack_years_smoked,gender,race,vital_status,ethnicity,vital_status.1,bcr_patient_barcode,disease
0,504,TCGA-MP-A4TE,2.191781,NaN,40.0,Not Reported,40.0,male,white,Dead,not hispanic or latino,Dead,TCGA-MP-A4TE,LUAD
1,79,TCGA-44-6779,0.821918,NaN,30.0,Not Reported,15.0,female,white,Dead,not reported,Dead,TCGA-44-6779,LUAD
2,428,TCGA-93-A4JN,2.191781,NaN,20.0,Not Reported,40.0,male,white,Alive,not hispanic or latino,Alive,TCGA-93-A4JN,LUAD
3,433,TCGA-95-7043,2.191781,NaN,39.0,Not Reported,40.0,female,white,Dead,not hispanic or latino,Dead,TCGA-95-7043,LUAD
4,251,TCGA-55-A494,0.383562,NaN,13.0,Not Reported,7.0,female,white,Alive,not hispanic or latino,Alive,TCGA-55-A494,LUAD
5,463,TCGA-97-A4M1,0.164384,NaN,3.0,Not Reported,3.0,female,white,Alive,not hispanic or latino,Alive,TCGA-97-A4M1,LUAD
6,426,TCGA-93-7348,2.301370,NaN,42.0,Not Reported,42.0,female,white,Alive,not hispanic or latino,Alive,TCGA-93-7348,LUAD
7,471,TCGA-99-8028,1.643836,NaN,30.0,Not Reported,30.0,female,black or african american,Alive,not hispanic or latino,Alive,TCGA-99-8028,LUAD
8,362,TCGA-78-7539,0.120548,NaN,28.0,Not Reported,2.2,female,white,Alive,not reported,Alive,TCGA-78-7539,LUAD
9,505,TCGA-MP-A4TF,2.191781,NaN,40.0,Not Reported,40.0,female,white,Dead,not hispanic or latino,Dead,TCGA-MP-A4TF,LUAD

For every submitter_id in the group 1 dataset above, I follow the data gathering steps. They will be labeled DMG1P1 :DNA Methylation Group 1 patient 1. Patient 1 is the first one on the list therefore, DMG1P1 = TCGA-MP-A4TE's DNA Methylation data. For group 2 the same naming convention is followed, only change is group # (e.g. DMG2P1).

In [5]:
#Loading in all 10 patients from group 1 (smokers group)
g1p1 = pd.read_csv('DMG1P1.txt',  delimiter = '\t', encoding = 'utf-8')
g1p2 = pd.read_csv('DMG1P2.txt',  delimiter = '\t', encoding = 'utf-8')
g1p3 = pd.read_csv('DMG1P3.txt',  delimiter = '\t', encoding = 'utf-8')
g1p4 = pd.read_csv('DMG1P4.txt',  delimiter = '\t', encoding = 'utf-8')
g1p5 = pd.read_csv('DMG1P5.txt',  delimiter = '\t', encoding = 'utf-8')
g1p6 = pd.read_csv('DMG1P6.txt',  delimiter = '\t', encoding = 'utf-8')
g1p7 = pd.read_csv('DMG1P7.txt',  delimiter = '\t', encoding = 'utf-8')
g1p8 = pd.read_csv('DMG1P8.txt',  delimiter = '\t', encoding = 'utf-8')
g1p9 = pd.read_csv('DMG1P9.txt',  delimiter = '\t', encoding = 'utf-8')
g1p10 = pd.read_csv('DMG1P10.txt',  delimiter = '\t', encoding = 'utf-8')

# DNA Methylation Data Cleaning
## Group 1 - Patient 1

In [6]:
g1p1.head()#This is what the DNA Methylation Data for this patient looks like.

,Composite Element REF,Beta_value,Chromosome,Start,End,Gene_Symbol,Gene_Type,Transcript_ID,Position_to_TSS,CGI_Coordinate,Feature_Type
0,cg00000029,0.228854,chr16,53434200,53434201,RBL2;RBL2;RBL2,protein_coding;protein_coding;protein_coding,ENST00000262133.9;ENST00000544405.5;ENST000005...,-221;-1420;222,CGI:chr16:53434489-53435297,N_Shore
1,cg00000108,NaN,chr3,37417715,37417716,C3orf35;C3orf35;C3orf35;C3orf35;C3orf35;C3orf3...,lincRNA;lincRNA;lincRNA;lincRNA;lincRNA;lincRN...,ENST00000328376.8;ENST00000332506.6;ENST000004...,18552;18552;6505;31445;18143;447;18552;18552,CGI:chr3:37451927-37453047,.
2,cg00000109,NaN,chr3,172198247,172198248,FNDC3B;FNDC3B;FNDC3B;FNDC3B;FNDC3B;FNDC3B,protein_coding;protein_coding;protein_coding;p...,ENST00000336824.7;ENST00000415807.5;ENST000004...,157692;158618;151333;71272;158587;71273,CGI:chr3:172039703-172040934,.
3,cg00000165,0.599309,chr1,90729117,90729118,.,.,.,.,CGI:chr1:90724932-90727247,S_Shore
4,cg00000236,0.777510,chr8,42405776,42405777,VDAC3,protein_coding,ENST00000022615.7,13872,CGI:chr8:42410918-42411241,.

In [7]:
g1p1.isna().sum() #Lets see how much of the data is missing and for which column.

Composite Element REF        0
Beta_value               90207
Chromosome                   0
Start                        0
End                          0
Gene_Symbol                  0
Gene_Type                    0
Transcript_ID                0
Position_to_TSS              0
CGI_Coordinate               0
Feature_Type                 0
dtype: int64

There seems to be quite a few missing values in the Beta_value column. Lets find out what percentage of the data is missing.

In [8]:
len(g1p1['Beta_value']) #Total count for Beta_value. All datasets have the same total.

485577

In [9]:
print((90207 / 485577) * 100 , '%') #Percent of missing Beta_value data.

18.57728022538135 %

There may be a better way of handling missing values for this dataset but for now I will be removing the rows for which Beta_value is not available. Another way to handle these values would be to set them to 0, but that would not be a good idea with this type of data because it would give those rows a meaning they truly dont have. This is due to the Beta_value ranging from 0 to 1.

In [10]:
g1p1 = g1p1.dropna() #Removing rows of missing values.

g1p1.isna().sum() #Checking that the data is clean and free from NAs.

Composite Element REF    0
Beta_value               0
Chromosome               0
Start                    0
End                      0
Gene_Symbol              0
Gene_Type                0
Transcript_ID            0
Position_to_TSS          0
CGI_Coordinate           0
Feature_Type             0
dtype: int64

In [11]:
len(g1p1['Beta_value']) #This is to make sure the values removed are the missing ones and nothing else.

395370

In [12]:
g1p1.head()

,Composite Element REF,Beta_value,Chromosome,Start,End,Gene_Symbol,Gene_Type,Transcript_ID,Position_to_TSS,CGI_Coordinate,Feature_Type
0,cg00000029,0.228854,chr16,53434200,53434201,RBL2;RBL2;RBL2,protein_coding;protein_coding;protein_coding,ENST00000262133.9;ENST00000544405.5;ENST000005...,-221;-1420;222,CGI:chr16:53434489-53435297,N_Shore
3,cg00000165,0.599309,chr1,90729117,90729118,.,.,.,.,CGI:chr1:90724932-90727247,S_Shore
4,cg00000236,0.777510,chr8,42405776,42405777,VDAC3,protein_coding,ENST00000022615.7,13872,CGI:chr8:42410918-42411241,.
5,cg00000289,0.532830,chr14,68874422,68874423,ACTN1;ACTN1;ACTN1;ACTN1,protein_coding;protein_coding;protein_coding;p...,ENST00000193403.9;ENST00000394419.7;ENST000005...,105019;104818;4601;13842,CGI:chr14:68874710-68875103,N_Shore
6,cg00000292,0.709429,chr16,28878779,28878780,ATP2A1;ATP2A1;ATP2A1;ATP2A1;ATP2A1,protein_coding;protein_coding;protein_coding;p...,ENST00000357084.6;ENST00000395503.7;ENST000005...,373;290;-1275;-465;-83,CGI:chr16:28879633-28880547,N_Shore

Lets do the same data cleaning as above to every patient on group 1.

## Group 1 - Patient 2

In [11]:
g1p2.head() #Lets see the data.

,Composite Element REF,Beta_value,Chromosome,Start,End,Gene_Symbol,Gene_Type,Transcript_ID,Position_to_TSS,CGI_Coordinate,Feature_Type
0,cg00000029,0.456072,chr16,53434200,53434201,RBL2;RBL2;RBL2,protein_coding;protein_coding;protein_coding,ENST00000262133.9;ENST00000544405.5;ENST000005...,-221;-1420;222,CGI:chr16:53434489-53435297,N_Shore
1,cg00000108,NaN,chr3,37417715,37417716,C3orf35;C3orf35;C3orf35;C3orf35;C3orf35;C3orf3...,lincRNA;lincRNA;lincRNA;lincRNA;lincRNA;lincRN...,ENST00000328376.8;ENST00000332506.6;ENST000004...,18552;18552;6505;31445;18143;447;18552;18552,CGI:chr3:37451927-37453047,.
2,cg00000109,NaN,chr3,172198247,172198248,FNDC3B;FNDC3B;FNDC3B;FNDC3B;FNDC3B;FNDC3B,protein_coding;protein_coding;protein_coding;p...,ENST00000336824.7;ENST00000415807.5;ENST000004...,157692;158618;151333;71272;158587;71273,CGI:chr3:172039703-172040934,.
3,cg00000165,0.456042,chr1,90729117,90729118,.,.,.,.,CGI:chr1:90724932-90727247,S_Shore
4,cg00000236,0.832880,chr8,42405776,42405777,VDAC3,protein_coding,ENST00000022615.7,13872,CGI:chr8:42410918-42411241,.

In [12]:
g1p2.isna().sum() #Total sum of all missing values for every column.

Composite Element REF        0
Beta_value               90488
Chromosome                   0
Start                        0
End                          0
Gene_Symbol                  0
Gene_Type                    0
Transcript_ID                0
Position_to_TSS              0
CGI_Coordinate               0
Feature_Type                 0
dtype: int64

In [13]:
g1p2 = g1p2.dropna() #Removing rows of missing values.

g1p2.isna().sum() #Checking that the data is clean and free from NAs.

Composite Element REF    0
Beta_value               0
Chromosome               0
Start                    0
End                      0
Gene_Symbol              0
Gene_Type                0
Transcript_ID            0
Position_to_TSS          0
CGI_Coordinate           0
Feature_Type             0
dtype: int64

There seems to be a trend amongst the mising values. Perhaps all datasets have approximately the same value missing from the same column? If so, we can skip a few steps and go straight to removal of missing values.

## Group 1 - Patient 3

In [14]:
g1p3.isna().sum() #Total sum of all missing values for every column.

Composite Element REF        0
Beta_value               89549
Chromosome                   0
Start                        0
End                          0
Gene_Symbol                  0
Gene_Type                    0
Transcript_ID                0
Position_to_TSS              0
CGI_Coordinate               0
Feature_Type                 0
dtype: int64

In [15]:
g1p3 = g1p3.dropna() #Removing rows of missing values.

g1p3.isna().sum() #Checking that the data is clean and free from NAs.

Composite Element REF    0
Beta_value               0
Chromosome               0
Start                    0
End                      0
Gene_Symbol              0
Gene_Type                0
Transcript_ID            0
Position_to_TSS          0
CGI_Coordinate           0
Feature_Type             0
dtype: int64

## Group 1 - Patient 4

In [16]:
g1p4.isna().sum() #Total sum of all missing values for every column.

Composite Element REF        0
Beta_value               90316
Chromosome                   0
Start                        0
End                          0
Gene_Symbol                  0
Gene_Type                    0
Transcript_ID                0
Position_to_TSS              0
CGI_Coordinate               0
Feature_Type                 0
dtype: int64

In [17]:
g1p4 = g1p4.dropna() #Removing rows of missing values.

g1p4.isna().sum() #Checking that the data is clean and free from NAs.

Composite Element REF    0
Beta_value               0
Chromosome               0
Start                    0
End                      0
Gene_Symbol              0
Gene_Type                0
Transcript_ID            0
Position_to_TSS          0
CGI_Coordinate           0
Feature_Type             0
dtype: int64

## Group 1 - Patient 5

In [18]:
g1p5.isna().sum() #Total sum of all missing values for every column.

Composite Element REF        0
Beta_value               89917
Chromosome                   0
Start                        0
End                          0
Gene_Symbol                  0
Gene_Type                    0
Transcript_ID                0
Position_to_TSS              0
CGI_Coordinate               0
Feature_Type                 0
dtype: int64

In [19]:
g1p5 = g1p5.dropna() #Removing rows of missing values.

g1p5.isna().sum() #Checking that the data is clean and free from NAs.

Composite Element REF    0
Beta_value               0
Chromosome               0
Start                    0
End                      0
Gene_Symbol              0
Gene_Type                0
Transcript_ID            0
Position_to_TSS          0
CGI_Coordinate           0
Feature_Type             0
dtype: int64

## Group 1 - Patient 6

In [20]:
g1p6.isna().sum() #Total sum of all missing values for every column.

Composite Element REF        0
Beta_value               89748
Chromosome                   0
Start                        0
End                          0
Gene_Symbol                  0
Gene_Type                    0
Transcript_ID                0
Position_to_TSS              0
CGI_Coordinate               0
Feature_Type                 0
dtype: int64

In [21]:
g1p6 = g1p6.dropna() #Removing rows of missing values.

g1p6.isna().sum() #Checking that the data is clean and free from NAs.

Composite Element REF    0
Beta_value               0
Chromosome               0
Start                    0
End                      0
Gene_Symbol              0
Gene_Type                0
Transcript_ID            0
Position_to_TSS          0
CGI_Coordinate           0
Feature_Type             0
dtype: int64

## Group 1 - Patient 7

In [22]:
g1p7.isna().sum() #Total sum of all missing values for every column.

Composite Element REF        0
Beta_value               89811
Chromosome                   0
Start                        0
End                          0
Gene_Symbol                  0
Gene_Type                    0
Transcript_ID                0
Position_to_TSS              0
CGI_Coordinate               0
Feature_Type                 0
dtype: int64

In [23]:
g1p7 = g1p7.dropna() #Removing rows of missing values.

g1p7.isna().sum() #Checking that the data is clean and free from NAs.

Composite Element REF    0
Beta_value               0
Chromosome               0
Start                    0
End                      0
Gene_Symbol              0
Gene_Type                0
Transcript_ID            0
Position_to_TSS          0
CGI_Coordinate           0
Feature_Type             0
dtype: int64

## Group 1 - Patient 8

In [24]:
g1p8.isna().sum() #Total sum of all missing values for every column.

Composite Element REF        0
Beta_value               89814
Chromosome                   0
Start                        0
End                          0
Gene_Symbol                  0
Gene_Type                    0
Transcript_ID                0
Position_to_TSS              0
CGI_Coordinate               0
Feature_Type                 0
dtype: int64

In [25]:
g1p8 = g1p8.dropna() #Removing rows of missing values.

g1p8.isna().sum() #Checking that the data is clean and free from NAs.

Composite Element REF    0
Beta_value               0
Chromosome               0
Start                    0
End                      0
Gene_Symbol              0
Gene_Type                0
Transcript_ID            0
Position_to_TSS          0
CGI_Coordinate           0
Feature_Type             0
dtype: int64

## Group 1 - Patient 9

In [26]:
g1p9.isna().sum() #Total sum of all missing values for every column.

Composite Element REF        0
Beta_value               91159
Chromosome                   0
Start                        0
End                          0
Gene_Symbol                  0
Gene_Type                    0
Transcript_ID                0
Position_to_TSS              0
CGI_Coordinate               0
Feature_Type                 0
dtype: int64

In [27]:
g1p9 = g1p9.dropna() #Removing rows of missing values.

g1p9.isna().sum() #Checking that the data is clean and free from NAs.

Composite Element REF    0
Beta_value               0
Chromosome               0
Start                    0
End                      0
Gene_Symbol              0
Gene_Type                0
Transcript_ID            0
Position_to_TSS          0
CGI_Coordinate           0
Feature_Type             0
dtype: int64

## Group 1 - Patient 10

In [28]:
g1p10.isna().sum() #Total sum of all missing values for every column.

Composite Element REF        0
Beta_value               90313
Chromosome                   0
Start                        0
End                          0
Gene_Symbol                  0
Gene_Type                    0
Transcript_ID                0
Position_to_TSS              0
CGI_Coordinate               0
Feature_Type                 0
dtype: int64

In [29]:
g1p10 = g1p10.dropna() #Removing rows of missing values.

g1p10.isna().sum() #Checking that the data is clean and free from NAs.

Composite Element REF    0
Beta_value               0
Chromosome               0
Start                    0
End                      0
Gene_Symbol              0
Gene_Type                0
Transcript_ID            0
Position_to_TSS          0
CGI_Coordinate           0
Feature_Type             0
dtype: int64

# Download All Clean Files:

Lets download all the patient's clean datasets.

In [30]:
g1p1.to_csv('g1p1.csv')
g1p2.to_csv('g1p2.csv')
g1p3.to_csv('g1p3.csv')
g1p4.to_csv('g1p4.csv')
g1p5.to_csv('g1p5.csv')
g1p6.to_csv('g1p6.csv')
g1p7.to_csv('g1p7.csv')
g1p8.to_csv('g1p8.csv')
g1p9.to_csv('g1p9.csv')
g1p10.to_csv('g1p10.csv')

Now that all DNA Methylation data for every patient on group 1 is clean, I will use it to perform exploratory data analysis in part 4.